{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" media="all">
{% endblock %}

{% block title %}Consulta alunos{% endblock %}

{% block content %}
<div>
    <ul>
        <li><a href="{% url 'registro' %}">Registrar aluno(a)</a></li>
        <li><a href="{% url 'notas' %}">Registrar notas</a></li>
        <li><a href="{% url 'graficos' %}">Gráficos</a></li>
    </ul>
    <h1>Consultar Aluno: </h1>
    <form action="" method="get">{% csrf_token %}
        <label for="consulta">Consultar aluno(a):</label>
        <input type="text" name="consulta" id="consulta">
        <button type="submit">Buscar</button>
    </form>
</div>
<h3>
{% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
{% endif %}
</h3>

{% if aluno is not None %}
<table>
    <tr>
        <td>Nome do aluno: </td>
        <td>{{ aluno.nome }}</td>
    </tr>
    <tr rowspan="4">
        <td>Notas</td>
        <td>
            {% for nota in aluno.notas.all %}
            {{ nota.nota }} | 
            {% if nota.aprovado %}
            <span class="green">Aprovado</span><br>
            {% else %}
            <span class="red">Reprovado</span><br>
            {% endif %}
            {% endfor %}
        </td>
    </tr>
</table>
{% endif %}
<div class="aux-screen">
    <div class="welcome">
        <span class="close">X</span>
        <h2>Welcome to the Django Plot Grades</h2>
        <p>This project is a training for render <em>matplotlib graphs with django</em>, besides trainning a little bit of django too.</p>
        <p>And now, I've also started to learn about <em>Github Actions</em> in this project.</p>
        <p>Feel free to see my other repositories in github:</p>
        <a href="https://github.com/ju-c-lopes" target="_blank"><img width="50" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original-wordmark.svg" /></a>
    </div>
</div>

<script>
    var auxScreen = document.querySelector(".aux-screen");
    var welcomeDiv = document.querySelector(".welcome");
    var close = document.querySelector(".close");
    //document.onload = 
    window.onload = function() {
        setTimeout(function() {
            auxScreen.style.transition = "1s ease-in";
            auxScreen.style.opacity= '1';
        }, 2000)};
    close.addEventListener('click' || 'touchstart', () => {
        auxScreen.style.transition = "1s ease-out";
        auxScreen.style.opacity = '0';
        auxScreen.style.zIndex = '-1';
        // auxScreen.style.height = '0';
        // auxScreen.style.visibility = 'hidden';
    })
</script>
{% endblock %}